# =============================================================================
# AWS EBS CSI Driver Helm Chart Values
# Chart: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/charts/aws-ebs-csi-driver
# =============================================================================

image:
  repository: public.ecr.aws/ebs-csi-driver/aws-ebs-csi-driver
  pullPolicy: IfNotPresent

controller:
  serviceAccount:
    create: true
    name: ebs-csi-controller-sa
    annotations:
      eks.amazonaws.com/role-arn: ${role_arn}

node:
  serviceAccount:
    create: true
    name: ebs-csi-node-sa
    annotations: {}

storageClasses:
  - name: gp3
    annotations:
      storageclass.kubernetes.io/is-default-class: "true"
    allowVolumeExpansion: true
    volumeBindingMode: WaitForFirstConsumer
    reclaimPolicy: Delete
    parameters:
      type: gp3
